body {
  /* background-color: #f8f9fa; */
  /* Background image with linear gradient overlay */
  background-image: linear-gradient(
      rgba(204, 121, 121, 0.5),
      rgba(204, 121, 121, 0.5)
    ),
    url(assets/images/loginimg.png);
}
.form-container {
  margin-top: 7vh;
  background-color: #edcdd8;
  border-radius: 3%;
  box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.1); /* Adjust the shadow to your preference */
  padding: 20px;
}
.btn {
  background-color: #6d1f37;
  color: white;
}
a {
  color: #6d1f37;
}
