body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
#nav-background {
  display: flex;
  position: absolute;
  z-index: 0;
  width: 100%;
}

#nav-background-right {
  flex: 1;
  text-align: right;
}
#nav-background-left {
  flex: 1;
  background: linear-gradient(rgb(134, 87, 88), rgb(255, 165, 167));
  text-align: center;
  padding-top: 15%;
  color: rgb(109, 31, 55);
}
#nav-background-right img {
  width: 100%;
  height: 500px;
}
#nav-background-left h1 {
  padding-bottom: 5%;
  font-size: 35px;
  font-weight: 800;
}
#nav-background-left p {
  padding-bottom: 15%;
  font-family: Arial, Helvetica, sans-serif;
}
#nav-bar {
  position: relative;
  z-index: 7;
  display: flex;
  padding-top: 20px;
}
#nav-bar img {
  text-align: left;
  width: 50%;
  /* padding: 30px; */
}
#nav-li-1 {
  margin-right: -200px;
}
#nav-list {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.nav-li {
  padding: 15px;
  color: white;
  font-weight: 600;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-li a {
  color: white;
  text-decoration: none;
}
/* Behind the beans local navbar */
#beans-navbar {
  background-color: rgb(181, 17, 68);
  margin-top: 26%;
  position: absolute;
  width: 100%;
  margin-bottom: 20px;
}
#beans-nav-list {
  padding-bottom: 20px;
  padding-left: 110px;
  display: inline-flex;
  list-style: none;
  justify-content: space-between;
}

.beans-nav-li {
  padding-left: 100px;
  color: white;
  font-weight: 800;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-around;
}
.nav-a {
  text-decoration: none;
  color: white;
}
/* foooter */
#footer-all {
  margin-top: -400px;
}
.footer-productinfo {
  height: 350px;
  background-color: #b51144;
  display: flex;
  margin-top: 500px;
}
.footer-costacoffee {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #ffffff;
  font-size: xx-large;
  margin-left: 40px;
  margin-top: 40px;
  font-weight: 500;
}
.footer-costacoffee a {
  text-decoration: none;
  color: #ffffff;
  padding-bottom: 5px;
  font-size: x-large;
}
.footer-dietary-information {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #ffffff;
  font-size: xx-large;
  margin-left: 80px;
  margin-top: 40px;
  font-weight: 500;
}
.footer-dietary-information a {
  text-decoration: none;
  color: #ffffff;
  padding-bottom: 5px;
  font-size: x-large;
}
.footer-behindthebeans {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #ffffff;
  font-size: xx-large;
  margin-left: 80px;
  margin-top: 40px;
  font-weight: 500;
}
.footer-behindthebeans a {
  text-decoration: none;
  color: #ffffff;
  padding-bottom: 5px;
  font-size: x-large;
}
footer {
  color: rgb(255, 255, 255);
  bottom: 0;
  height: 275px;
  background-color: #6d1f37;
  font-family: "Costa Text Regular", sans-serif;
  font-size: large;
  flex-flow: wrap;
  max-width: 1392px;
  margin: 0px auto;
  padding-left: 50px;
  padding-top: 50px;
}
footer a {
  text-decoration: none;
  color: #ffffff;
}
.footer-list {
  margin-bottom: 50px;
}
.footer-list p {
  margin-top: 50px;
}
footer ul {
  list-style-type: none;
  left: 0;
}
.social-list {
  display: flex;
  padding: 0;
}
.facebook-icon {
  height: 30px;
  margin-right: 20px;
}
.insta-icon {
  height: 30px;
  margin-right: 20px;
}
#container {
  margin-top: 400px;
  background-image: url(assets/background.png);
}
.main-div {
  display: flex;
}
.left-div,
.right-div {
  margin-top: 30px;
  margin-bottom: 30px;
  flex: 1;
  text-align: center;
  width: 100%;
  height: 100%;
  justify-content: center; /* Center horizontally */
  align-items: center;
  color: whitesmoke;
}
.left-div img {
  width: 100%; /* Set a fixed width */
  height: 420px; /* Set a fixed height */
  display: block;
  margin: 0 auto; /* Center the image horizontally */
  object-fit: cover; /* Maintain aspect r*/
}
.right-div img {
  width: 100%; /* Set a fixed width */
  height: 420px; /* Set a fixed height */
  display: block;
  margin: 0 auto; /* Center the image horizontally */
  object-fit: cover; /* Maintain aspect r*/
}

.learn-button {
  margin-bottom: 36px;
  background-color: #6d1f37;
  border: none;
  color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 150px;
  height: 50px;
  margin-top: 4%;
}

#h1-1 {
  padding-top: 20%;
}
#h1-2 {
  padding-top: 20%;
}
#h1-3 {
  padding-top: 20%;
}
#h1-1::after {
  content: "Nutrition and wellbeing";
}
#h1-2::after {
  content: "Costa Foundation";
}
#h1-3::after {
  content: "Responsible Sourcing";
}
#p-1 {
  padding-top: 5%;
}
#p-2 {
  padding-top: 5%;
}
#p-3 {
  padding-top: 5%;
}
#p-1::after {
  content: "  Coffee is important to us, but so is the health and wellbeing of our customers.       Whether it’s checking your ingredients for allergens,          making our latte lighter, or improving our range of vegan offerings, we’ve got your cravings covered.";
}
#p-2::after {
  content: "  We believe that education is the first step towards a better life and through our charity, the Costa foundation, we aim to improve schools within some of the world’s most remote coffee-growing communities.";
}
#p-3::after {
  content: "  To keep inspiring the world to love great coffee, we must respect the planet and ensure we reduce our environmental footprint, at every step. We don’t just make great tasting coffee, we also source it responsibly.";
}
/* cookie style */

.round-button {
  position: fixed;
  bottom: 50px;
  left: 50px;
  width: 60px;
  height: 60px;
  background-color: #6d1f37;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: transform 0.3s;
}

.icon {
  font-size: 24px;
  color: #fff;
  text-align: center;
}

#rotatedIcon {
  display: none;
  transform: rotate(45deg);
}

#cookieButton.open {
  transform: rotate(45deg);
}

#cookieButton.open #normalIcon {
  display: none;
}

#cookieButton.open #rotatedIcon {
  display: block;
}

#cookieDialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 300px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
  text-align: center;
}

.accept-button {
  background-color: #6d1f37;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}

/* Style of Nutrition and well being */

#nutrition-h1 {
  text-align: center;
  color: #6d1f37;
  margin-top: 35%;
}

#nutrition-p1 {
  font-size: large;
  width: 52%;
  font-weight: 400;
  margin-left: 24%;
  margin-top: 4%;
}
#nutrition-p2 {
  font-size: large;
  width: 52%;
  font-weight: 400;
  margin-left: 24%;
  margin-top: 4%;
}
#nutrition-img1 {
  height: 500px;
  margin-bottom: 20px;
  margin-top: -100px;
  width: 100%;
}
#nutrition-p3 {
  font-size: larger;
  font-weight: 600;
  width: 53%;
  margin-left: 24%;
  margin-top: -150px;
  color: orange;
  margin-bottom: 50px;
}
#nutrition-h2 {
  margin-left: 24%;
  color: #6d1f37;
}
#nutrition-p4 {
  font-size: large;
  width: 52%;
  font-weight: 400;
  margin-left: 24%;
  margin-top: 4%;
}

#nutrition-div1 {
  display: flex;
  margin-top: 150px;
  margin-left: 100px;
  margin-bottom: 100px;
}
#nutrition-img2 {
  flex: 1;
  width: 240px;
  height: 200px;
  margin-bottom: 100px;
}
#nutrition-div2 {
  flex: 2;
  margin-left: 0px;
  width: 40%;
  padding-left: 40px;
}
#nutrition-h3 {
  color: #6d1f37;
  font-weight: 700;
}
#nutrition-a1 {
  color: #6d1f37;
  font-weight: 700;
}
#costa-foundation-button1 {
  margin-bottom: 36px;
  background-color: #6d1f37;
  border: none;
  color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 150px;
  height: 50px;
  margin-top: 4%;
  margin-left: 20%;
}
#costa-foundation-h1 {
  color: #6d1f37;
  font-weight: 800;
  margin-left: 24%;
  margin-top: 40%;
}
#costa-foundation-button2 {
  margin-bottom: 36px;
  background-color: #6d1f37;
  border: none;
  color: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 150px;
  height: 50px;
  margin-top: 15%;
  margin-left: 25%;
}
#donation-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 300px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
  text-align: center;
}

#my-dialog {
  position: fixed;
  background-color: #fff;
  width: 300px;
  padding: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
  text-align: center;
  border: none;
  color: #6d1f37;
}

#th-dialog {
  position: fixed;
  background-color: #fff;
  width: 300px;
  padding: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
  text-align: center;
  border: none;
  color: #6d1f37;
  backdrop-filter: blur(10px);
}
#foundation-img1 {
  width: 30%;
  height: 30%;
  margin-left: 55%;
}
#foundation-p1 {
  font-weight: 500;
  width: 80%;
  margin-top: 0px;
  margin-left: 10%;
}
#foundation-p2 {
  font-weight: 500;
  width: 40%;
  margin-top: -150px;
  margin-left: 10%;
}
#responsible-h1 {
  color: #6d1f37;
  font-weight: 800;
  margin-left: 24%;
  margin-top: 10%;
}
#responsible-h2 {
  color: #6d1f37;
  font-weight: 800;
  margin-left: 24%;
  /* margin-top: 40%; */
}
#responsible-p5 {
  font-size: large;
  width: 52%;
  font-weight: 400;
  margin-left: 24%;
  margin-top: 4%;
  padding-bottom: 5%;
}
#responsible-div-h {
  color: #6d1f37;
  margin-top: 70px;
}
#responsible-div-p {
  color: #6d1f37;
  width: 470px;
  margin-left: 80px;
  margin-top: 70px;
}
.responsible-main-div {
  display: flex;
  margin-top: 500px;
  height: 400px;
}
.responsible-left-div {
  text-align: center;
  flex: 1;
  background-color: rgb(176, 221, 245);
}
.responsible-right-div {
  flex: 1;
  overflow: hidden;
}

/* Make COffee */
#make-coffee {
  background: linear-gradient(rgb(255, 165, 167), rgb(134, 87, 88));
  margin-bottom: 50px;
  height: 900px;
  width: 50%;
  padding-top: 30px;
  margin-left: 26%;
  border-radius: 10%;
  padding-bottom: 20px;
  box-shadow: 5px 5px 5px;
}

#make-head {
  color: #6d1f37;
  text-align: center;
}
.coffee-options {
  margin: 20px;
  padding: 5px;
  border: 2px solid #ccc;
  text-align: center;
  border-radius: 10%;
}

label,
select,
input {
  display: block;
  padding: 5px;
  margin: 5px auto;
  border-radius: 10%;
}

.price {
  margin: 20px;
  font-weight: bold;
  text-align: center;
  width: fit-content;
  margin-left: 35%;
  padding: 20px;
  border-radius: 20%;
  box-shadow: 5px 5px 5px;
}
#foundation-globe {
  height: 500px;
  margin-top: -50px;
  width: 100%;
}
.foundation-main-div {
  display: flex;
  margin-top: 250px;
  height: 500px;
}
.foundation-left-div {
  flex: 1;
  text-align: center;
  flex: 1;
  background-color: rgb(176, 221, 245);
}
.foundation-right-div {
  flex: 1;
  overflow: hidden;
}
