*{
  margin:0;
  padding: 0;
}
#nav-bar-food {
    background-color: #b51144; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 80px; 
}
#foodimg{
  width: 300px;
  height: 200px;
}

  .nav-bar-foodtxt a {
    font-family: 'Libre Franklin', sans-serif;
    color: #fff; 
    text-decoration: none; 
    padding: 10px; 
    font-size: 25px;
    padding-right: 30px;
    transition: color 0.3s; 
  }
  .main-img{
    background-image: url("/assets/OurMenubg.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    height: 70%;
  }
  .main-txt h1{
    padding-top: 20px;
    font-family: 'Anton', sans-serif;
    padding-left: 22%;
  font-size: 40px;
  color: #6d1f37;
  }
  .main-txt p{
    color: #6d1f37;
    padding-left: 15px;
    font-size: 20px;
    width: 30%;
    padding-left: 15%;
  }
  .bgimg {
    background-image: url("/assets/bgpic.jpeg"); /* Set the background image for .bgimg */
    background-size: cover; /* Scale the background image to cover the entire container */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-position: center center; /* Center the background image both horizontally and vertically */
    /* Add any additional styles for .bgimg */
  }
  .menu-item-container,.menu-item-container2{
    display: flex;
    width: 60%;
    padding-left: 25%;
  }
  
  .right-container,.left-container{
    padding: 10px;
    background-color: white;
    flex: 1;
  }
  
  /* .nav-bar-foodtxt a:hover {
   text-decoration: underline;
    color: black; /* Change link text color to a different color on hover */
  

#nav-bar {
   
    position: relative;
    z-index: 7;
    display: flex;
    padding-top: 20px;
  }
  #nav-bar img {
    text-align: left;
    width: 50%;
    /* padding: 30px; */
  }
  #nav-li-1 {
    margin-right: -200px;
  }

   
  #nav-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
  }
  .nav-li {
    padding: 15px;
    color: white;
    font-weight: 600;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
  }
  .nav-li a {
    color: white;
    text-decoration: none;
  }

@font-face {
    font-family: Costa Text Regular;
    src: url(https://www.costacoffee.in/static/CostaText-Regular-d819baeadd703ec19dd54fce7aba0a91.woff2)
      format("woff2");
  } 
  .footer-productinfo {
    height: 350px;
    background-color: #b51144;
    display: flex;
  }
  .footer-costacoffee {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #ffffff;
    font-size: xx-large;
    margin-left: 40px;
    margin-top: 40px;
    font-weight: 500;
  }
  .footer-costacoffee a {
    text-decoration: none;
    color: #ffffff;
    padding-bottom: 5px;
    font-size: x-large;
  }
  .footer-dietary-information {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #ffffff;
    font-size: xx-large;
    margin-left: 80px;
    margin-top: 40px;
    font-weight: 500;
  }
  .footer-dietary-information a {
    text-decoration: none;
    color: #ffffff;
    padding-bottom: 5px;
    font-size: x-large;
  }
  .footer-behindthebeans {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #ffffff;
    font-size: xx-large;
    margin-left: 80px;
    margin-top: 40px;
    font-weight: 500;
  }
  .footer-behindthebeans a {
    text-decoration: none;
    color: #ffffff;
    padding-bottom: 5px;
    font-size: x-large;
  }
  footer {
    color: rgb(255, 255, 255);
    bottom: 0;
    height: 275px;
    background-color: #6d1f37;
    font-family: "Costa Text Regular", sans-serif;
    font-size: large;
    flex-flow: wrap;
    max-width: 1392px;
    margin: 0px auto;
    padding-left: 50px;
    padding-top: 50px;
  }
  footer a {
    text-decoration: none;
    color: #ffffff;
  }
  .footer-list {
    margin-bottom: 50px;
  }
  .footer-list p {
    margin-top: 50px;
  }
  footer ul {
    list-style-type: none;
    left: 0;
  }
  .social-list {
    display: flex;
    padding: 0;
  }
  .facebook-icon {
    height: 30px;
    margin-right: 20px;
  }
  .insta-icon {
    height: 30px;
    margin-right: 20px;
  }
  
  /* cookie style */
   
  .round-button {
    position: fixed;
    bottom: 50px;
    left: 50px;
    width: 60px;
    height: 60px;
    background-color: #6d1f37;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: transform 0.3s;
  }
   
  .icon {
    font-size: 24px;
    color: #fff;
    text-align: center;
  }
   
  #rotatedIcon {
    display: none;
    transform: rotate(45deg);
  }
   
  #cookieButton.open {
    transform: rotate(45deg);
  }
   
  #cookieButton.open #normalIcon {
    display: none;
  }
   
  #cookieButton.open #rotatedIcon {
    display: block;
  }
   
  #cookieDialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 300px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
    text-align: center;
  }
   
  .accept-button {
    background-color: #6d1f37;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
  }