.navbar {
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: transparent !important;
}

#top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2; /* Set a higher z-index */
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-weight: bold;
  font-size: larger;
}
body {
  /* background-color: #f8f9fa; */
  /* Background image with linear gradient overlay */
  background-image: linear-gradient(
      rgba(125, 106, 106, 0.5),
      rgba(107, 74, 74, 0.5)
    ),
    url(assets/images/myAccountBg.jpg);
  background-size: cover;
}
.profile-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.btn {
  background-color: #6d1f37;
  color: white;
}
h2 {
  color: #6d1f37;
}
#myAccountMain{
    margin-top: 20vh !important;
}
  /* CSS for hover effect */
.card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
