
/* navbar for food and drinks  */
.navbar {
  background-color: #b51144;
  padding: 20px ;
}

.navbar-row {
  list-style: none;
  display: flex;
  margin: 0;
  padding-left: 40%;
}

.nav-item {
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
  color: white !important;
  font-size: 30px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.active {
  text-decoration: underline;
}
#main-container{
  background-image: url(/assets/wavy-background.png);
}
#drinks-container{
  background-image: url(/assets/wavy-background.png);
}
.food-menu-item {
  background-color:white;
  display: flex; /* Uncomment this to enable flex layout */
  width: 60%;
  margin: auto; /* Centers the container */
  padding: 20px; /* Add padding as needed */
}

.food-item-image {
  width: 90%;
  /*  Adjust the image width as needed */
  /* margin-right: 20px; Add spacing between image and text/ */
}

.food-menu-item .col-md-6 {
  flex: 1; /* Equal flex distribution for left and right containers */
}


.drinks-menu-item {
  background-color:white;
  display: flex; /* Uncomment this to enable flex layout */
  width: 60%;
  margin: auto; /* Centers the container */
  padding: 20px; /* Add padding as needed */
}

.drinks-item-image {
  width: 90%;
  /*  Adjust the image width as needed */
  /* margin-right: 20px; Add spacing between image and text/ */
}

.drinks-menu-item .col-md-6 {
  flex: 1; /* Equal flex distribution for left and right containers */
}
h2{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #6d1f37;
}

.px-custom {
  padding-left: 90px; /* Adjust the value to your desired padding */
  padding-right: 90px; /* Adjust the value to your desired padding */
}
/* BODY CONTAINER */
 
.blank-space-div {
  background-color: white;
  display: cover;
  height: 90px;
  width: 100%;
}
 
#explore-button {
  padding: 18px 27px;
  font-size: 18px;
  font-weight: bolder;
  line-height: 28px;
  background-color: #6D1F37;
  color: white;
  border: none;
  border-radius: 32px;
  transition: all 0.3s ease;
  /* width: 320px; */
}
 
#explore-button:hover {
  background-color: #e4245d;
}



.footer-productinfo {
  margin-top: 5vh;
  font-size: large;
  height: 65vh;
  background-color: #b51144;
  /* display: flex; */
  /* margin-top: 500px; */
}
.footer-costacoffee {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #ffffff;
  /* font-size: x-large; */
  /* margin-left: 40px; */
  /* margin-top: 40px; */
  font-weight: 500;
}
.footer-costacoffee a {
  text-decoration: none;
  color: #ffffff;
  /* padding-bottom: 5px; */
  /* font-size: x-large; */
}
.footer-dietary-information {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #ffffff;
  /* font-size: x-large; */
  /* margin-left: 80px;
  margin-top: 40px; */
  font-weight: 500;
}
.footer-dietary-information a {
  text-decoration: none;
  color: #ffffff;
  /* padding-bottom: 5px; */
  /* font-size: x-large; */
}
.footer-behindthebeans {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #ffffff;
  /* font-size: x-large; */
  /* margin-left: 80px;
  margin-top: 40px; */
  font-weight: 500;
}
.footer-behindthebeans a {
  text-decoration: none;
  color: #ffffff;
  /* padding-bottom: 5px; */
  /* font-size: x-large; */
}
footer {
  /* display: flex; */
  color: rgb(255, 255, 255);
  bottom: 0;
  /* height: 275px; */
  background-color: #6d1f37;
  font-family: "Costa Text Regular", sans-serif;
  font-size: large;
  flex-flow: wrap;
  max-width: 1392px;
  /* margin: 0px auto;
  padding-left: 50px;
  padding-top: 50px; */
}
footer a {
  text-decoration: none;
  color: #ffffff;
}
footer ul {
  list-style-type: none;
  /* left: 0; */
}
.social-list {
  display: flex;
  /* padding: 0; */
}
.facebook-icon {
  height: 30px;
  margin-right: 20px;
}
.insta-icon {
  height: 30px;
  margin-right: 20px;
}
.nav-a:hover {
  font-weight: bold;
  font-size: larger;
  color: black !important;
}
 