

/* TOP IMAGE */
.our-story-image-container {
  width: 100%;
  position: relative;
}
 
#our-story-top-img {
  width: 100%;
  height: auto;
}
 
/* NAV BAR */
.navbar {
  z-index: 1;
  width: 100%;
  background-color: transparent !important;
}
 
#top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.navbar-nav {
  margin-top: 2%;
  margin-left: 3%;
}
.navbar .nav-link {
  color: white !important;
}
 
.nav-item {
  padding-right: 5px;
  font-weight: bold;
  font-size: 100%;
}
 
.navbar-nav {
  font-weight: bold;
  font-size: larger;
}
/* navbar for food and drinks  */
.navbar-food {
  background-color: #b51144 !important;
  padding: 10px ;
}

.navbar-food-row {
  list-style: none;
  display: flex;
  margin: 0;
  width: 100%;
  
}

.navbar-food-item {
  margin-right: 30px;
}

.navbar-food-link {
  text-decoration: none;
  color: white !important;
  font-size: 30px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.active {
  text-decoration: underline;
}
#main-container{
  background-image: url(/ourmenu/assets/wavy-background.png);
}
#drinks-container{
  background-image: url(/ourmenu/assets/wavy-background.png);
}
.food-menu-item {
  background-color:white;
  display: flex; /* Uncomment this to enable flex layout */
  width: 60%;
  margin: auto; /* Centers the container */
  padding: 20px; /* Add padding as needed */
}

.food-item-image {
  width: 90%;
  /*  Adjust the image width as needed */
  /* margin-right: 20px; Add spacing between image and text/ */
}

.food-menu-item .col-md-6 {
  flex: 1; /* Equal flex distribution for left and right containers */
}


.drinks-menu-item {
  background-color:white;
  display: flex; /* Uncomment this to enable flex layout */
  width: 60%;
  margin: auto; /* Centers the container */
  padding: 20px; /* Add padding as needed */
}

.drinks-item-image {
  width: 90%;
  /*  Adjust the image width as needed */
  /* margin-right: 20px; Add spacing between image and text/ */
}

.drinks-menu-item .col-md-6 {
  flex: 1; /* Equal flex distribution for left and right containers */
}
h2{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #6d1f37;
}


/* BODY CONTAINER */
 
.nav-a:hover {
  font-weight: bold;
  font-size: larger;
  color: black !important;
}
 
.header-container{
  background-image: url(/ourmenu/assets/menubackground.jpg);
  height: 300px;
}
.header-container h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  font-size:xx-large;
}

.round-button {
  position: fixed;
  bottom: 50px;
  left: 50px;
  width: 60px;
  height: 60px;
  background-color: #6d1f37;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: transform 0.3s;
}

.icon {
  font-size: 24px;
  color: #fff;
  text-align: center;
}

#rotatedIcon {
  display: none;
  transform: rotate(45deg);
}

#cookieButton.open {
  transform: rotate(45deg);
}

#cookieButton.open #normalIcon {
  display: none;
}

#cookieButton.open #rotatedIcon {
  display: block;
}

#cookieDialog {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 300px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
  text-align: center;
}

.accept-button {
  background-color: #6d1f37;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}